:root {
  --primary: hsl(229, 100%, 16%);
  background:hsl(229, 100%, 16%);
  color: white;
}


html {
  overflow-x: hidden;
    background:hsl(229, 100%, 16%);
  color: white;
}

.main-container {
  background: var(--primary);
}

* {
  font-family: 'Courier New', Courier, monospace;
  scroll-behavior: smooth;
  scroll-margin-top: 4rem;
  font-weight: 500;
  letter-spacing: 0.5px;

}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 3.5rem);
  width: 100%;
  background: var(--primary);
  color: white;
}